/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────╮ LH2 LH1 LH0 │ │ RH0 RH1 RH2 ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

#define COMBO_TERM_FAST 20
#define COMBO_TERM_SLOW 30

#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50

// Left hand - with thumb
ZMK_COMBO(nmpd,   &tog NUMPAD,  LM2 LM1 LH1,  GRAPHITE QWERT NUMPAD, COMBO_TERM_FAST, COMBO_IDLE_FAST)

// Left hand - horizontal
ZMK_COMBO(lbrc,   &kp LBKT,     LM3 LM2,      GRAPHITE QWERT NUMROW, COMBO_TERM_FAST, COMBO_IDLE_FAST) // [{
ZMK_COMBO(lpar,   &lplt,        LM1 LM2,      GRAPHITE QWERT NUMROW, COMBO_TERM_FAST, COMBO_IDLE_FAST) // (<
ZMK_COMBO(cut,    &f_cut,       LB3 LB1,      GRAPHITE QWERT NUMROW, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(copy,   &f_copy,      LB3 LB2,      GRAPHITE QWERT NUMROW, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(paste,  &f_paste,     LB2 LB1,      GRAPHITE QWERT NUMROW, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(all,    &f_all,       LB3 LB2 LB1,  GRAPHITE QWERT NUMROW, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(lspace, &kp SPACE,    LM1 LM0,      GRAPHITE QWERT NUMROW, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(lenter, &kp ENTER,    LM3 LM2 LM1,  GRAPHITE QWERT NUMROW, COMBO_TERM_FAST, COMBO_IDLE_FAST)

// Left hand - vertical
ZMK_COMBO(excl,   &kp EXCL,     LM4 LT4,      GRAPHITE QWERT NUMROW, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(at,     &kp AT,       LM3 LT3,      GRAPHITE QWERT NUMROW, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(hash,   &kp HASH,     LM2 LT2,      GRAPHITE QWERT NUMROW, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(dllr,   &kp DLLR,     LM1 LT1,      GRAPHITE QWERT NUMROW, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(prcnt,  &kp PRCNT,    LM0 LT0,      GRAPHITE QWERT NUMROW, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(bsh,    &kp BSLH,     LM0 LB0,      GRAPHITE QWERT NUMROW, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(equ,    &kp EQUAL,    LM1 LB1,      GRAPHITE QWERT NUMROW, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(plus,   &kp PLUS,     LM2 LB2,      GRAPHITE QWERT NUMROW, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(pipe,   &kp PIPE,     LM3 LB3,      GRAPHITE QWERT NUMROW, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(grv,    &kp GRAVE,    LM4 LB4,      GRAPHITE QWERT NUMROW, COMBO_TERM_FAST, COMBO_IDLE_FAST)

// Right hand - horizontal
ZMK_COMBO(rbrc,   &kp RBKT,     RM2 RM3,      GRAPHITE QWERT NUMROW, COMBO_TERM_FAST, COMBO_IDLE_FAST) // ]}
ZMK_COMBO(rpgr,   &rpgt,        RM1 RM2,      GRAPHITE QWERT NUMROW, COMBO_TERM_FAST, COMBO_IDLE_FAST) // )>
ZMK_COMBO(bspc,   &kp BSPC,     RM1 RM3,      GRAPHITE QWERT NUMROW, COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(del,    &kp DEL,      RM4 RM2,      GRAPHITE QWERT NUMROW, COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(renter, &kp ENTER,    RM3 RM2 RM1,  GRAPHITE QWERT NUMROW, COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(cbspc,  &kp LC(BSPC), RM1 RM4,      GRAPHITE QWERT NUMROW, COMBO_TERM_SLOW, COMBO_IDLE_FAST)

// Right hand - vertical
ZMK_COMBO(under,  &kp UNDER,    RM0 RB0,      GRAPHITE QWERT NUMROW, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(semi,   &kp SEMI,     RM1 RB1,      GRAPHITE QWERT NUMROW, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(colon,  &kp COLON,    RM2 RB2,      GRAPHITE QWERT NUMROW, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(tilde,  &kp TILDE,    RM4 RB4,      GRAPHITE QWERT NUMROW, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(dqt,    &kp DQT,      RM3 RB3,      GRAPHITE QWERT NUMROW, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(caret,  &kp CARET,    RM0 RT0,      GRAPHITE QWERT NUMROW, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(amps,   &kp AMPS,     RM1 RT1,      GRAPHITE QWERT NUMROW, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(astrk,  &kp ASTRK,    RM2 RT2,      GRAPHITE QWERT NUMROW, COMBO_TERM_FAST, COMBO_IDLE_FAST)
